In [327]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import itertools
from collections import Counter

In [328]:
data = pd.read_csv('data/movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1184,tt1663662,180000000,407602906,Pacific Rim,Idris Elba|Charlie Hunnam|Charlie Day|Ron Perl...,Guillermo del Toro,"To Fight Monsters, We Created Monsters","When legions of monstrous creatures, known as ...",131,Action|Science Fiction|Adventure,Legendary Pictures|Warner Bros.|Disney Double ...,7/11/2013,6.7,2013
342,tt0775552,45000000,57881056,Aliens in the Attic,Carter Jenkins|Austin Butler|Kevin Nealon|Robe...,John Schultz,The aliens vs. the Pearsons,"It's summer vacation, but the Pearson family k...",86,Adventure|Comedy|Family|Fantasy|Science Fiction,Twentieth Century Fox Film Corporation|Regency...,7/31/2009,5.1,2009
1093,tt0287978,78000000,179179718,Daredevil,Ben Affleck|Jennifer Garner|Colin Farrell|Mich...,Mark Steven Johnson,A Guardian Devil,"He dwells in a world of eternal night, but the...",103,Fantasy|Action|Crime|Science Fiction|Thriller,Twentieth Century Fox Film Corporation|Regency...,2/14/2003,4.9,2003
855,tt1270262,19100000,5728213,The Devil's Double,Dominic Cooper|Ludivine Sagnier|Raad Rawi|Mehm...,Lee Tamahori,"The 80's were brilliant, if you were in charge.",A chilling vision of the House of Saddam Husse...,109,Drama|Action|Thriller|Crime|War,Corrino Media Corporation|Corsan|Staccato Films,2/11/2011,6.3,2011
806,tt1438176,17000000,24922237,Fright Night,Anton Yelchin|Colin Farrell|Toni Collette|Chri...,Craig Gillespie,You can't run from evil when it lives next door.,A teenager suspects his new neighbour is a vam...,106,Horror|Comedy,Touchstone Pictures,8/18/2011,6.1,2011

In [329]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [330]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:
# add column with profit
data['profit'] = data['revenue'] - data['budget']
# add column with month release name
data['release_month'] = pd.DatetimeIndex(data['release_date']).month_name()
# add column with length of title
data['title_len'] = data['original_title'].str.len()
# add column with number of words in overviews
data['overview_num_words'] = data['overview'].str.split().apply(len)


# function for explode any columns by any delimeter
def explode_dataframe(dataframe, column, pat):
    dataframe[column] = dataframe[column].str.split(pat)
    dataframe = dataframe.explode(column, ignore_index=True)
    return dataframe

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [331]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
#answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)'
# если ответили верно, можете добавить комментарий со значком "+"

In [332]:
# тут пишем ваш код для решения данного вопроса:
ids_type_of_answers_1 = ['tt1345836', 'tt0413300', 'tt2395427', 'tt1032751', 'tt1298650']
d1 = data[(data.imdb_id.isin(ids_type_of_answers_1))]
d1[(d1['budget'] == d1['budget'].max())]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,release_month,title_len,overview_num_words
723,tt1298650,380000000,1021683000,Pirates of the Caribbean: On Stranger Tides,Johnny Depp|PenÃ©lope Cruz|Geoffrey Rush|Ian M...,Rob Marshall,Live Forever Or Die Trying.,Captain Jack Sparrow crosses paths with a woma...,136,Adventure|Action|Fantasy,Walt Disney Pictures|Jerry Bruckheimer Films|M...,5/11/2011,6.3,2011,641683000,May,43,75

ВАРИАНТ 2

In [333]:
# можно добавлять разные варианты решения

# 2. Какой из фильмов самый длительный (в минутах)?

In [334]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = '2. Gods and Generals (tt0279111)'

In [335]:
data[data.runtime == data.runtime.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,release_month,title_len,overview_num_words
1157,tt0279111,56000000,12923936,Gods and Generals,Stephen Lang|Jeff Daniels|Robert Duvall|Kevin ...,Ronald F. Maxwell,The nations heart was touched by...,The film centers mostly around the personal an...,214,Drama|History|War,Turner Pictures|Antietam Filmworks,2/21/2003,5.8,2003,-43076064,February,17,48

# 3. Какой из фильмов самый короткий (в минутах)?

In [336]:
answers['3'] = '3. Winnie the Pooh (tt1449283)'

In [337]:
data[data.runtime == data.runtime.min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,release_month,title_len,overview_num_words
768,tt1449283,30000000,14460000,Winnie the Pooh,Jim Cummings|Travis Oates|Jim Cummings|Bud Luc...,Stephen Anderson|Don Hall,Oh Pooh.,"During an ordinary day in Hundred Acre Wood, W...",63,Animation|Family,Walt Disney Pictures|Walt Disney Animation Stu...,4/13/2011,6.8,2011,-15540000,April,15,52

# 4. Какова средняя длительность фильмов?

In [338]:
answers['4'] = '2. 110'

In [339]:
data['runtime'].mean()

109.6585494970884

# 5. Каково медианное значение длительности фильмов?

In [340]:
answers['5'] = '1. 107'

In [341]:
data['runtime'].median()

107.0

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [342]:
answers['6'] = '5. Avatar (tt0499549)'

In [343]:
# лучше код получения столбца profit вынести в Предобработку что в начале
data[data.profit == data.profit.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,release_month,title_len,overview_num_words
239,tt0499549,237000000,2781505847,Avatar,Sam Worthington|Zoe Saldana|Sigourney Weaver|S...,James Cameron,Enter the World of Pandora.,"In the 22nd century, a paraplegic Marine is di...",162,Action|Adventure|Fantasy|Science Fiction,Ingenious Film Partners|Twentieth Century Fox ...,12/10/2009,7.1,2009,2544505847,December,6,28

# 7. Какой фильм самый убыточный?

In [344]:
answers['7'] = '5. The Lone Ranger (tt1210819)'

In [345]:
data[data.profit == data.profit.min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,release_month,title_len,overview_num_words
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,6.0,2013,-165710090,July,15,68

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [346]:
answers['8'] = '1. 1478'

In [347]:
# нет смысла делать условие по сборам и бюджету, т.к. уже есть их разница
data[data.profit > 0]['imdb_id'].count()

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [348]:
answers['9'] = '4. The Dark Knight (tt0468569)'

In [349]:
data_9 = data.groupby(['release_year']).get_group(2008)
data_9[(data_9.revenue == data_9.revenue.max())]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,release_month,title_len,overview_num_words
599,tt0468569,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,7/16/2008,8.1,2008,816921825,July,15,67

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [350]:
answers['10'] = '5. The Lone Ranger (tt1210819)'

In [351]:
data_10 = data[(data.release_year>=2012) & (data.release_year<=2014)]
data_10[data_10.profit == data_10.profit.min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,release_month,title_len,overview_num_words
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,6.0,2013,-165710090,July,15,68

# 11. Какого жанра фильмов больше всего?

In [352]:
answers['11'] = '3. Drama'

In [353]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале
data_11 = data.copy()
data_11 = explode_dataframe(data_11, 'genres', '|')
data_11['genres'].value_counts()

Drama              782
Comedy             683
Thriller           596
Action             582
Adventure          415
Crime              315
Romance            308
Family             260
Science Fiction    248
Fantasy            222
Horror             176
Mystery            168
Animation          139
Music               64
History             62
War                 58
Western             19
Documentary          8
Foreign              2
Name: genres, dtype: int64

ВАРИАНТ 2

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [354]:
answers['12'] = '1. Drama'

In [355]:
data_12 = data[data.profit > 0].copy()
data_12 = explode_dataframe(data_12, 'genres', '|')
data_12['genres'].value_counts()

Drama              560
Comedy             551
Thriller           446
Action             444
Adventure          337
Romance            242
Crime              231
Family             226
Science Fiction    195
Fantasy            188
Horror             150
Animation          120
Mystery            119
Music               47
History             46
War                 41
Western             12
Documentary          7
Name: genres, dtype: int64

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [356]:
answers['13'] = '5. Peter Jackson'

In [357]:
data_13 = data.copy()
data_13 = explode_dataframe(data_13, 'director', '|')
data_13.groupby('director')['revenue'].sum().sort_values(ascending=False)

director
Peter Jackson        6490593685
Christopher Nolan    4167548502
David Yates          4154295625
Michael Bay          3886938960
J.J. Abrams          3579169916
                        ...
David MichÃ´d           2295423
Steven Shainberg        2281089
Paul Schrader           2062066
Keanu Reeves            2054941
Simon Hunter            2033165
Name: revenue, Length: 997, dtype: int64

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [358]:
answers['14'] = '3. Robert Rodriguez'

In [359]:
group_filter = ['Ridley Scott', 'Guy Ritchie', 'Robert Rodriguez', 'Quentin Tarantino', 'Tony Scott']
data_14 = data.copy()
data_14 = explode_dataframe(data_14, 'director', '|')
data_14[(data_14.genres.str.contains('Action')) & (data_14.director.isin(group_filter))].groupby('director')['imdb_id'].count().sort_values(ascending=False)

director
Robert Rodriguez     9
Ridley Scott         6
Tony Scott           5
Quentin Tarantino    5
Guy Ritchie          4
Name: imdb_id, dtype: int64

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [360]:
answers['15'] = '3. Chris Hemsworth'

In [361]:
data_15 = data[data.release_year == 2012].copy()
data_15 = explode_dataframe(data_15, 'cast', '|')
data_15.groupby('cast')['revenue'].sum().sort_values(ascending=False)

cast
Chris Hemsworth      2027450773
Denis Leary          1629460639
Anne Hathaway        1522851057
Chris Evans          1519557910
Robert Downey Jr.    1519557910
                        ...
Jason Bateman           3428048
Danny Huston            2106557
Sami Gayle              2106557
Josh Lucas              2106557
Nicolas Cage            2106557
Name: revenue, Length: 466, dtype: int64

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [362]:
answers['16'] = '3. Matt Damon'

In [363]:
data_16 = data[data.budget > data.budget.mean()].copy()
data_16 = explode_dataframe(data_16, 'cast', '|')
data_16['cast'].value_counts()

Matt Damon           18
Adam Sandler         17
Angelina Jolie       16
Samuel L. Jackson    15
Tom Cruise           15
                     ..
Omar Epps             1
Brandy Norwood        1
Lester Speight        1
Andy Buckley          1
Bruno Campos          1
Name: cast, Length: 1505, dtype: int64

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [364]:
answers['17'] = '2. Action'

In [365]:
data_17 = data.copy()
data_17 = explode_dataframe(data_17, 'cast', '|')
data_17 = data_17[data_17.cast == 'Nicolas Cage']
data_17 = explode_dataframe(data_17, 'genres', '|')
data_17['genres'].value_counts()

Action             17
Thriller           15
Drama              12
Crime              10
Fantasy             8
Adventure           7
Comedy              6
Science Fiction     4
Mystery             3
Family              3
Animation           3
History             2
War                 1
Romance             1
Horror              1
Name: genres, dtype: int64

# 18. Самый убыточный фильм от Paramount Pictures

In [366]:
answers['18'] = '1. K-19: The Widowmaker (tt0267626)'

In [367]:
data_18 = data.copy()
data_18 = explode_dataframe(data_18, 'production_companies', '|')
data_18 = data_18[data_18.production_companies == 'Paramount Pictures']
data_18[data_18.profit == data_18.profit.min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,release_month,title_len,overview_num_words
2998,tt0267626,100000000,35168966,K-19: The Widowmaker,Harrison Ford|Liam Neeson|Peter Sarsgaard|Joss...,Kathryn Bigelow,Fate has found its hero.,When Russia's first nuclear submarine malfunct...,138,Thriller|Drama|History,Paramount Pictures,7/19/2002,6.0,2002,-64831034,July,20,23

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [368]:
answers['19'] = '5. 2015'

In [369]:
data_19 = data.copy()
data_19.groupby('release_year')['revenue'].sum().sort_values(ascending=False)

release_year
2015    25449202382
2014    23405862953
2013    23213799791
2012    23079001687
2011    22676791872
2010    21071204961
2009    20261791024
2008    18252781990
2007    18162406801
2004    15663430720
2005    15309425558
2006    14775042320
2003    14346123312
2002    14136361487
2001    13017764865
2000    10664099805
Name: revenue, dtype: int64

# 20. Какой самый прибыльный год для студии Warner Bros?

In [370]:
answers['20'] = '1. 2014'

In [371]:
data_20 = data.copy()
data_20 = explode_dataframe(data_20, 'production_companies', '|')
data_20[data_20.production_companies.str.contains('Warner Bros')].groupby('release_year')['profit'].sum().sort_values(ascending=False)

release_year
2014    2292949646
2007    2201675217
2008    2134595031
2010    1974712985
2011    1871393682
2003    1844008221
2009    1822454136
2013    1636453400
2004    1631933725
2005    1551980298
2001    1282142579
2012    1258020056
2002    1022709901
2015     870368348
2006     625351872
2000     452631386
Name: profit, dtype: int64

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [372]:
answers['21'] = '4. Сентябрь'

In [373]:
#pd.to_datetime(data.iloc[0]['release_date'], format='%m/%d/%Y').month_name()

data_21 = data.copy()
data_21.groupby('release_month')['imdb_id'].count().sort_values(ascending=False)

release_month
September    227
December     190
October      186
August       161
March        156
April        149
June         147
November     146
July         142
May          140
February     135
January      110
Name: imdb_id, dtype: int64

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [374]:
answers['22'] = '2. 450'

In [375]:
data_22 = data.copy()
data_22[data_22['release_month'].isin(['June', 'July', 'August'])]['imdb_id'].count()

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [376]:
answers['23'] = '5. Peter Jackson'

In [377]:
data_23 = data[data['release_month'].isin(['December', 'January', 'February'])].copy()
data_23 = explode_dataframe(data_23, 'director', '|')
data_23.groupby('director')['imdb_id'].count().sort_values(ascending=False)

director
Peter Jackson            7
Steven Soderbergh        6
Clint Eastwood           6
Martin Scorsese          4
Adam Shankman            4
                        ..
Matt Bettinelli-Olpin    1
Matt Reeves              1
Matthew O'Callaghan      1
Matthew Vaughn           1
Jon Avnet                1
Name: imdb_id, Length: 358, dtype: int64

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [378]:
answers['24'] = '5. Four By Two Productions'

In [379]:
data_24 = data.copy()
data_24 = explode_dataframe(data_24, 'production_companies', '|')
data_24.groupby('production_companies')['title_len'].mean().sort_values(ascending=False)

production_companies
Four By Two Productions       83.0
Jim Henson Company, The       59.0
Dos Corazones                 47.0
Museum Canada Productions     46.0
Polsky Films                  46.0
                              ...
Everest Entertainment          3.0
Berlanti Productions           3.0
XM2 Productions                2.0
Ixtlan Productions             2.0
Global Entertainment Group     2.0
Name: title_len, Length: 1771, dtype: float64

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [380]:
answers['25'] = '3. Midnight Picture Show'

In [381]:
data_25 = data.copy()
data_25 = explode_dataframe(data_25, 'production_companies', '|')
data_25.groupby('production_companies')['overview_num_words'].mean().sort_values(ascending=False)

production_companies
Midnight Picture Show                    175.0
Room 9 Entertainment                     161.0
98 MPH Productions                       159.0
Heineken Branded Entertainment           159.0
Brookwell-McNamara Entertainment         156.0
                                         ...
London Boulevard                          13.0
Phantom Four                              13.0
Henceforth                                13.0
Empire Pictures                           11.0
Motion Picture Corporation of America     11.0
Name: overview_num_words, Length: 1771, dtype: float64

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [382]:
answers['26'] = '1. Inside Out, The Dark Knight, 12 Years a Slave'

In [383]:
q_answers = {1: 'Inside Out, The Dark Knight, 12 Years a Slave',
             2: 'BloodRayne, The Adventures of Rocky & Bullwinkle',
             3: 'Batman Begins, The Lord of the Rings: The Return of the King, Upside Down',
             4: '300, Lucky Number Slevin, Kill Bill: Vol. 1',
             5: 'Upside Down, Inside Out, Iron Man'
            }

data_26 = data.copy()

# посчитали сколько у нас фильмов составляют 1%
count_movies = data_26['imdb_id'].count()
count_movies = int(count_movies/100)
# получили отсечку по vote_average
min_vote = data_26['vote_average'].sort_values(ascending=False).head(count_movies).tail(1).iloc[0]

top_list = set(data_26[data_26.vote_average >= min_vote]['original_title'])


for i, v in q_answers.items():
    if set([x.strip() for x in v.split(',')]).issubset(top_list):
        print(v)

Inside Out, The Dark Knight, 12 Years a Slave

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

ВАРИАНТ 2

In [384]:
answers['27'] = '5. Daniel Radcliffe & Rupert Grint'

In [385]:
data_27 = data.copy()


# add counter object with couples
couple_cast = Counter()


# main cycle for finding most common couple in movies
for cast in data_27['cast'].str.split('|'):
    for couple in list(itertools.combinations(cast, 2)):
        couple_cast[couple] += 1
        
print(couple_cast.most_common(5))

[(('Daniel Radcliffe', 'Rupert Grint'), 8), (('Daniel Radcliffe', 'Emma Watson'), 8), (('Rupert Grint', 'Emma Watson'), 7), (('Ben Stiller', 'Owen Wilson'), 6), (('Johnny Depp', 'Helena Bonham Carter'), 6)]

# Submission

In [386]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': '2. Gods and Generals (tt0279111)',
 '3': '3. Winnie the Pooh (tt1449283)',
 '4': '2. 110',
 '5': '1. 107',
 '6': '5. Avatar (tt0499549)',
 '7': '5. The Lone Ranger (tt1210819)',
 '8': '1. 1478',
 '9': '4. The Dark Knight (tt0468569)',
 '10': '5. The Lone Ranger (tt1210819)',
 '11': '3. Drama',
 '12': '1. Drama',
 '13': '5. Peter Jackson',
 '14': '3. Robert Rodriguez',
 '15': '3. Chris Hemsworth',
 '16': '3. Matt Damon',
 '17': '2. Action',
 '18': '1. K-19: The Widowmaker (tt0267626)',
 '19': '5. 2015',
 '20': '1. 2014',
 '21': '4. Сентябрь',
 '22': '2. 450',
 '23': '5. Peter Jackson',
 '24': '5. Four By Two Productions',
 '25': '3. Midnight Picture Show',
 '26': '1. Inside Out, The Dark Knight, 12 Years a Slave',
 '27': '5. Daniel Radcliffe & Rupert Grint'}

In [387]:
# и убедиться что ни чего не пропустил)
len(answers)

27