In [602]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [603]:
data = pd.read_csv('data/movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
864,tt0295297,100000000,876688482,Harry Potter and the Chamber of Secrets,Daniel Radcliffe|Rupert Grint|Emma Watson|Kenn...,Chris Columbus,Hogwarts is back in session.,"Ignoring threats to his life, Harry returns to...",161,Adventure|Fantasy|Family,1492 Pictures|Warner Bros.|Heyday Films|MIRACL...,11/13/2002,7.2,2002
874,tt0275847,80000000,145771527,Lilo & Stitch,Chris Sanders|Daveigh Chase|Tia Carrere|David ...,Dean DeBlois|Chris Sanders,He's coming to our galaxy.,A lonely Hawaiian girl named Lilo is being rai...,85,Animation,Walt Disney Pictures|Walt Disney Feature Anima...,6/21/2002,6.9,2002
1729,tt0442933,70000000,195735876,Beowulf,Ray Winstone|Angelina Jolie|Anthony Hopkins|Ro...,Robert Zemeckis,Evil breeds pain.,"6th-century Scandinavian warrior, Beowulf emba...",115,Animation|Fantasy,Paramount Pictures|Shangri-La Entertainment|Im...,11/5/2007,5.4,2007
508,tt0268978,60000000,313542341,A Beautiful Mind,Russell Crowe|Ed Harris|Jennifer Connelly|Chri...,Ron Howard,I need to believe that something extra ordinar...,"At Princeton University, John Nash struggles t...",135,Drama|Romance,Imagine Entertainment|DreamWorks SKG|Universal...,12/11/2001,7.5,2001
906,tt0166813,80000000,122563539,Spirit: Stallion of the Cimarron,Matt Damon|James Cromwell|Daniel Studi|Chopper...,Kelly Asbury|Lorna Cook,Leader. Hero. Legend.,As a wild stallion travels across the frontier...,83,Western|Animation|Adventure|Comedy|Family,DreamWorks Animation,5/24/2002,7.1,2002

In [604]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [605]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:

#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...
data['profit'] = data['revenue'] - data['budget']
data['release_month'] = pd.DatetimeIndex(data['release_date']).month_name()

def explode_dataframe(dataframe, column, pat):
    dataframe[column] = dataframe[column].str.split(pat)
    dataframe = dataframe.explode(column, ignore_index=True)
    return dataframe

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [606]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
#answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)'
# если ответили верно, можете добавить комментарий со значком "+"

In [607]:
# тут пишем ваш код для решения данного вопроса:
ids_type_of_answers_1 = ['tt1345836', 'tt0413300', 'tt2395427', 'tt1032751', 'tt1298650']
d1 = data[(data.imdb_id.isin(ids_type_of_answers_1))]
d1[(d1['budget'] == d1['budget'].max())]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,release_month
723,tt1298650,380000000,1021683000,Pirates of the Caribbean: On Stranger Tides,Johnny Depp|PenÃ©lope Cruz|Geoffrey Rush|Ian M...,Rob Marshall,Live Forever Or Die Trying.,Captain Jack Sparrow crosses paths with a woma...,136,Adventure|Action|Fantasy,Walt Disney Pictures|Jerry Bruckheimer Films|M...,5/11/2011,6.3,2011,641683000,May

ВАРИАНТ 2

In [608]:
# можно добавлять разные варианты решения

# 2. Какой из фильмов самый длительный (в минутах)?

In [609]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = '2. Gods and Generals (tt0279111)'

In [610]:
data[data.runtime == data.runtime.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,release_month
1157,tt0279111,56000000,12923936,Gods and Generals,Stephen Lang|Jeff Daniels|Robert Duvall|Kevin ...,Ronald F. Maxwell,The nations heart was touched by...,The film centers mostly around the personal an...,214,Drama|History|War,Turner Pictures|Antietam Filmworks,2/21/2003,5.8,2003,-43076064,February

# 3. Какой из фильмов самый короткий (в минутах)?

In [611]:
answers['3'] = '3. Winnie the Pooh (tt1449283)'

In [612]:
data[data.runtime == data.runtime.min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,release_month
768,tt1449283,30000000,14460000,Winnie the Pooh,Jim Cummings|Travis Oates|Jim Cummings|Bud Luc...,Stephen Anderson|Don Hall,Oh Pooh.,"During an ordinary day in Hundred Acre Wood, W...",63,Animation|Family,Walt Disney Pictures|Walt Disney Animation Stu...,4/13/2011,6.8,2011,-15540000,April

# 4. Какова средняя длительность фильмов?

In [613]:
answers['4'] = '2. 110'

In [614]:
data['runtime'].mean()

109.6585494970884

# 5. Каково медианное значение длительности фильмов?

In [615]:
answers['5'] = '1. 107'

In [616]:
data['runtime'].median()

107.0

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [617]:
answers['6'] = '5. Avatar (tt0499549)'

In [618]:
# лучше код получения столбца profit вынести в Предобработку что в начале
data[data.profit == data.profit.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,release_month
239,tt0499549,237000000,2781505847,Avatar,Sam Worthington|Zoe Saldana|Sigourney Weaver|S...,James Cameron,Enter the World of Pandora.,"In the 22nd century, a paraplegic Marine is di...",162,Action|Adventure|Fantasy|Science Fiction,Ingenious Film Partners|Twentieth Century Fox ...,12/10/2009,7.1,2009,2544505847,December

# 7. Какой фильм самый убыточный?

In [619]:
answers['7'] = '5. The Lone Ranger (tt1210819)'

In [620]:
data[data.profit == data.profit.min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,release_month
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,6.0,2013,-165710090,July

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [621]:
answers['8'] = '1. 1478'

In [622]:
# нет смысла делать условие по сборам и бюджету, т.к. уже есть их разница
data[data.profit > 0]['imdb_id'].count()

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [623]:
answers['9'] = '4. The Dark Knight (tt0468569)'

In [624]:
data_9 = data.groupby(['release_year']).get_group(2008)
data_9[(data_9.revenue == data_9.revenue.max())]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,release_month
599,tt0468569,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,7/16/2008,8.1,2008,816921825,July

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [625]:
answers['10'] = '5. The Lone Ranger (tt1210819)'

In [626]:
data_10 = data[(data.release_year>=2012) & (data.release_year<=2014)]
data_10[data_10.profit == data_10.profit.min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,release_month
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,6.0,2013,-165710090,July

# 11. Какого жанра фильмов больше всего?

In [627]:
answers['11'] = '3. Drama'

In [628]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале
data_11 = data.copy()
data_11 = explode_dataframe(data_11, 'genres', '|')
data_11['genres'].value_counts()

Drama              782
Comedy             683
Thriller           596
Action             582
Adventure          415
Crime              315
Romance            308
Family             260
Science Fiction    248
Fantasy            222
Horror             176
Mystery            168
Animation          139
Music               64
History             62
War                 58
Western             19
Documentary          8
Foreign              2
Name: genres, dtype: int64

ВАРИАНТ 2

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [629]:
answers['12'] = '1. Drama'

In [630]:
data_12 = data[data.profit > 0].copy()
data_12 = explode_dataframe(data_12, 'genres', '|')
data_12['genres'].value_counts()

Drama              560
Comedy             551
Thriller           446
Action             444
Adventure          337
Romance            242
Crime              231
Family             226
Science Fiction    195
Fantasy            188
Horror             150
Animation          120
Mystery            119
Music               47
History             46
War                 41
Western             12
Documentary          7
Name: genres, dtype: int64

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [631]:
answers['13'] = '5. Peter Jackson'

In [632]:
data_13 = data.copy()
data_13 = explode_dataframe(data_13, 'director', '|')
data_13.groupby('director')['revenue'].sum().sort_values(ascending=False)

director
Peter Jackson        6490593685
Christopher Nolan    4167548502
David Yates          4154295625
Michael Bay          3886938960
J.J. Abrams          3579169916
                        ...
David MichÃ´d           2295423
Steven Shainberg        2281089
Paul Schrader           2062066
Keanu Reeves            2054941
Simon Hunter            2033165
Name: revenue, Length: 997, dtype: int64

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [633]:
answers['14'] = '3. Robert Rodriguez'

In [634]:
group_filter = ['Ridley Scott', 'Guy Ritchie', 'Robert Rodriguez', 'Quentin Tarantino', 'Tony Scott']
data_14 = data.copy()
data_14 = explode_dataframe(data_14, 'director', '|')
data_14[(data_14.genres.str.contains('Action')) & (data_14.director.isin(group_filter))].groupby('director')['imdb_id'].count().sort_values(ascending=False)

director
Robert Rodriguez     9
Ridley Scott         6
Tony Scott           5
Quentin Tarantino    5
Guy Ritchie          4
Name: imdb_id, dtype: int64

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [635]:
answers['15'] = '3. Chris Hemsworth'

In [636]:
data_15 = data[data.release_year == 2012].copy()
data_15 = explode_dataframe(data_15, 'cast', '|')
data_15.groupby('cast')['revenue'].sum().sort_values(ascending=False)

cast
Chris Hemsworth      2027450773
Denis Leary          1629460639
Anne Hathaway        1522851057
Chris Evans          1519557910
Robert Downey Jr.    1519557910
                        ...
Jason Bateman           3428048
Danny Huston            2106557
Sami Gayle              2106557
Josh Lucas              2106557
Nicolas Cage            2106557
Name: revenue, Length: 466, dtype: int64

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [637]:
answers['16'] = '3. Matt Damon'

In [638]:
data_16 = data[data.budget > data.budget.mean()].copy()
data_16 = explode_dataframe(data_16, 'cast', '|')
data_16['cast'].value_counts()

Matt Damon             18
Adam Sandler           17
Angelina Jolie         16
Samuel L. Jackson      15
Tom Cruise             15
                       ..
Tyler Perry             1
Kelly Macdonald         1
Anna Friel              1
Catherine McCormack     1
Joseph Fiennes          1
Name: cast, Length: 1505, dtype: int64

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [639]:
answers['17'] = '2. Action'

In [640]:
data_17 = data.copy()
data_17 = explode_dataframe(data_17, 'cast', '|')
data_17 = data_17[data_17.cast == 'Nicolas Cage']
data_17 = explode_dataframe(data_17, 'genres', '|')
data_17['genres'].value_counts()

Action             17
Thriller           15
Drama              12
Crime              10
Fantasy             8
Adventure           7
Comedy              6
Science Fiction     4
Animation           3
Mystery             3
Family              3
History             2
War                 1
Romance             1
Horror              1
Name: genres, dtype: int64

# 18. Самый убыточный фильм от Paramount Pictures

In [641]:
answers['18'] = '1. K-19: The Widowmaker (tt0267626)'

In [642]:
data_18 = data.copy()
data_18 = explode_dataframe(data_18, 'production_companies', '|')
data_18 = data_18[data_18.production_companies == 'Paramount Pictures']
data_18[data_18.profit == data_18.profit.min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,release_month
2998,tt0267626,100000000,35168966,K-19: The Widowmaker,Harrison Ford|Liam Neeson|Peter Sarsgaard|Joss...,Kathryn Bigelow,Fate has found its hero.,When Russia's first nuclear submarine malfunct...,138,Thriller|Drama|History,Paramount Pictures,7/19/2002,6.0,2002,-64831034,July

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [643]:
answers['19'] = '5. 2015'

In [644]:
data_19 = data.copy()
data_19.groupby('release_year')['revenue'].sum().sort_values(ascending=False)

release_year
2015    25449202382
2014    23405862953
2013    23213799791
2012    23079001687
2011    22676791872
2010    21071204961
2009    20261791024
2008    18252781990
2007    18162406801
2004    15663430720
2005    15309425558
2006    14775042320
2003    14346123312
2002    14136361487
2001    13017764865
2000    10664099805
Name: revenue, dtype: int64

# 20. Какой самый прибыльный год для студии Warner Bros?

In [645]:
answers['20'] = '1. 2014'

In [646]:
data_20 = data.copy()
data_20 = explode_dataframe(data_20, 'production_companies', '|')
data_20[data_20.production_companies.str.contains('Warner Bros')].groupby('release_year')['profit'].sum().sort_values(ascending=False)

release_year
2014    2292949646
2007    2201675217
2008    2134595031
2010    1974712985
2011    1871393682
2003    1844008221
2009    1822454136
2013    1636453400
2004    1631933725
2005    1551980298
2001    1282142579
2012    1258020056
2002    1022709901
2015     870368348
2006     625351872
2000     452631386
Name: profit, dtype: int64

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [654]:
answers['21'] = '4. Сентябрь'

In [655]:
#pd.to_datetime(data.iloc[0]['release_date'], format='%m/%d/%Y').month_name()

data_21 = data.copy()
data_21.groupby('release_month')['imdb_id'].count().sort_values(ascending=False)

release_month
September    227
December     190
October      186
August       161
March        156
April        149
June         147
November     146
July         142
May          140
February     135
January      110
Name: imdb_id, dtype: int64

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [686]:
answers['22'] = '2. 450'

In [687]:
data_22 = data.copy()
data_21[data_21['release_month'].isin(['June', 'July', 'August'])]['imdb_id'].count()

450

# 23. Для какого режиссера зима – самое продуктивное время года?

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

ВАРИАНТ 2

# Submission

In [649]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': '2. Gods and Generals (tt0279111)',
 '3': '3. Winnie the Pooh (tt1449283)',
 '4': '2. 110',
 '5': '1. 107',
 '6': '5. Avatar (tt0499549)',
 '7': '5. The Lone Ranger (tt1210819)',
 '8': '1. 1478',
 '9': '4. The Dark Knight (tt0468569)',
 '10': '5. The Lone Ranger (tt1210819)',
 '11': '3. Drama',
 '12': '1. Drama',
 '13': '5. Peter Jackson',
 '14': '3. Robert Rodriguez',
 '15': '3. Chris Hemsworth',
 '16': '3. Matt Damon',
 '17': '2. Action',
 '18': '1. K-19: The Widowmaker (tt0267626)',
 '19': '5. 2015',
 '20': '1. 2014',
 '21': ''}

In [650]:
# и убедиться что ни чего не пропустил)
len(answers)

21